 <header class="navbar navbar-fixed-top navbar" > <!-- -inverse -->
      <div class="container">
				<%= link_to "Brogrammr", 'home_path', id: "logo" %> 

	<div class="dropdown">
  	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    =
    <span class="caret"></span>
  	</button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Contribute</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Log-in</a></li>
  </ul>
</div>
				




				<!-- 	<ul class="nav navbar navbar-left"> 
						<li><%= link_to "Home", root_path %></li> 
						<li><%= link_to "About", about_path %></li> 
						<li><%= link_to "Contribute", contribute_path %></li>
						<li><%= link_to "Log-in", new_user_path %></li>
						</ul> <br> -->
      </div>
    </header>