<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
  </head>
  
  <body>
   
   <%= render 'layouts/header' %> <br><br>
    
  <!-- Drop-down menu glyphicon -->
  <span class="glyphicon glyphicon-menu-hamburger">
  <figure id="hamburger">
    <a href="#menu" id="hamburger_button">Menu</a>
  </figure>
    <ul id="dropdown" class="onblog">
      <li class="dropdown_message">...</li>
      <li>About</li>
      <li>Contribute</li>
      <li>Log-in</li>
    </ul>
    </span>

  <div id = 'buttonContainer'>
    <p>
      <button type="button" class="btn"> <a href = "https://twitter.com/brogrammr">@brogrammr</button></a>
      <button type="button" class="btn"><a href="mailto:adam.mclean1@gmail.com?subject=Brogrammr">say hi</a></button>
      <button type="button" class="btn"><a href = "localhost:3000">brogrammr.com</a></button>
    </p>
  </div>

    <%= yield %> 
    <div class="container">
			
	 <%= render 'layouts/footer' %>
      

   <!--  <%= debug(params) if Rails.env.development?%> -->
￼
		</div>
  </body>
</html>